@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');

$Color-primario: #181818;
$Color-secundario: #762bfb;
$Color-variante: #9c7ff6;
$Color-claro: #ffffff;
$Color-bg-input: #232127;
$Fuente1: "Roboto", sans-serif;
$Fuente2: "Smooch Sans", serif;
$p-size-p2: 1.2rem;
$p-size-p: 1.5rem;
$p-size-g: 1.6rem;
$h4-size-p: 1.755rem;
$h4-size-g: 1.92rem;
$h3-size-p: 2.053rem;
$h3-size-g: 2.304rem;
$h2-size-p: 2.402rem;
$h2-size-g: 2.765rem;
$h1-size-p: 2.811rem;
$h1-size-g: 3.318rem;
$p-lh-size-p2: 1.5rem;
$p-lh-size-p: 1.95rem;
$p-lh-size-g: 2rem;
$h4-lh-size-p: 2.194rem;
$h4-lh-size-g: 2.4rem;
$h3-lh-size-p: 2.567rem;
$h3-lh-size-g: 2.88rem;
$h2-lh-size-p: 3.003rem;
$h2-lh-size-g: 3.456rem;
$h1-lh-size-p: 3.514rem;
$h1-lh-size-g: 4.147rem;