<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ 'styles.css' | relative_url }}">
  <title>Shopify Simulator | Gradiweb</title>
</head>
<body>
  {% include 'top-bar/top-bar.liquid' %}
  {% include 'header/header.liquid' %}
  {% include 'hero/hero.liquid' %}
  {% include 'collections/collections.liquid' %}
  {% comment %} {% include 'featured-products/featured-products.liquid' %} {% endcomment %}
  {% include 'footer/footer.liquid' %}
  <script src="/main.js"></script>
</body>
</html>