.footer {
  @include flex-space-center-wrap;
  width: 100%;
  padding: 20px;
  &_logo {
    display: block;
    order: 5;
    width: 50%;
    &__suffle {
      @include flex-start-center-nowrap;
      width: 140px;
      &_image {
        width: 70px;
      }
      h1 {
        font-weight: 800;
        span {
          color: $Color-secundario;
        }
      }
    }
  }
  &_copy {
    display: block;
    order: 7;
    max-width: 650px;
    width: 100%;
    margin-block-start: 30px;
    margin-inline: auto;
  }
  &_nav {
    display: block;
    order: 1;
    width: 100%;
    margin-block-end: 30px;
    ul {
      li {
        display: block;
        width: max-content;
        margin-block-start: 20px;
        margin-block-end: 2px;
        border-bottom: 3px solid $Color-primario;
      }
      li:hover {
        border-bottom: 3px solid;
        border-image: linear-gradient(90deg, $Color-secundario, $Color-variante) 1;
      }
    }
  }
  &_subnav {
    display: block;
    order: 2;
    width: 100%;
    margin-block-end: 40px;
    ul {
      li {
        margin-block-end: 5px;
      }
    }
  }
  &_pay {
    display: block;
    order: 3;
    width: 100%;
    margin-block-end: 40px;
    &methods {
      @include flex-space-center-nowrap;
      width: 100%;
      p {
        max-width: 200px;
        width: 50%;
      }
    }
  }
  &_subscribe {
    position: relative;
    display: block;
    order: 4;
    width: 100%;
    margin-block-end: 30px;
    p {
      margin-block-end: 10px;
    }
    input {
      width: 100%;
      padding: 10px;
      color: $Color-claro;
      border: none;
      border-radius: 5px;
      background-color: $Color-bg-input;
      outline: none;
    }
    input:focus, input:focus-visible {
      border: 1px solid $Color-secundario;
    }
    &__icon {
      position: absolute;
      bottom: 8px;
      right: 5px;
      width: 25px;
      height: 25px;
    }
  }
  &_social {
    display: block;
    order: 6;
    width: 80px;
    a:hover {
      color: $Color-secundario;
    }
  }
}

@media screen and (min-width: 720px) {
  .footer {
    @include flex-center-center-wrap;
    &_logo {
      width: 140px;
    }
    &_nav {
      margin-block-end: 20px;
      ul {
        @include flex-center-center-nowrap;
        li {
          margin: 0 20px;
        }
      }
    }
    &_subnav {
      margin-block-end: 40px;
      ul {
        @include flex-center-center-nowrap;
        li {
          margin: 0 10px;
        }
      }
    }
    &_pay {
      margin-block-end: 30px;
      &methods {
        @include flex-center-center-nowrap;
        p {
          max-width: 300px;
        }
      }
    }
    &_subscribe {
      width: 85%;
      margin-block-end: 30px;
      margin-inline: auto;
    }
    &_social {
      width: 300px;
      ul {
        @include flex-center-center-nowrap;
        li {
          margin-inline: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    position: relative;
    margin: 10px auto;
    &_logo {
      position: absolute;
      top: 20px;
      left: 30px;
      width: 160px;
      &__suffle {
        width: 160px;
        &_image {
          width: 80px;
        }
      }
    }
    &_nav {
      ul {
        li {
          margin: 0 10px;
        }
      }
    }
    &_copy {
      position: absolute;
      top: 100px;
      left: 40px;
      max-width: 250px;
    }
    &_pay {
      margin-block-end: 0;
      &methods {
        p {
          max-width: 180px;
        }
      }
    }
    &_subscribe {
      position: absolute;
      top: 30px;
      right: 30px;
      width: 250px;
    }
    &_social {
      position: absolute;
      top: 150px;
      right: 20px;
      width: 280px;
      ul {
        li {
          margin-inline: 5px;
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1300px;
    padding: 20px 0;
    &_logo {
      left: 0;
      width: 160px;
    }
    &_copy {
      left: 15px;
    }
    &_subnav {
      margin-block-end: 65px;
    }
    &_pay {
      &methods {
        p {
          max-width: 320px;
        }
      }
    }
    &_subscribe {
      right: 0;
      width: 300px;
    }
    &_social {
      top: 170px;
      right: 0;
      width: 290px;
      ul {
        li {
          margin-inline: 10px;
        }
      }
    }
  }
}
